* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
  }

  textarea {
    resize: none;
  }

  .required {
    color: darkred;
  }

  .error {
    input, textarea {
      border: 1px solid darkred;
    }

    small {
      color: darkred;
    }
  }
}

